<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon Registration Form 2024</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="min-h-screen bg-[#121212]">
      <header
        class="fixed top-0 z-10 mx-auto w-full max-w-full bg-[#121212] p-6 text-white lg:px-10 text-center"
      >
        <h1 class="mb-2 text-5xl font-extrabold text-white">Hackathon Registration Form</h1>
      </header>
      <div class="mx-auto flex w-full items-stretch justify-center items-center gap-10">
        <div
          class="mt-20 flex w-full flex-col items-start justify-start p-6 md:w-1/2 lg:px-10"
        >
          <div class="w-full">
            <h1 class="mb-2 text-2xl font-extrabold text-white">Registration Form</h1>
            <p class="text-xs text-slate-400">
              Register For Hackathon 2024
            </p>
          </div>
          <form action="/submitform" method="post" class="my-14 flex w-full flex-col items-start gap-4" >
            <div class="flex w-full flex-col items-start justify-start gap-2">
              <label class="text-xs text-slate-200">First name</label
              ><input
                placeholder="Enter a first name..."
                autoComplete="false"
                class="w-full border-[1px] border-white bg-black p-4 text-white placeholder:text-gray-500"
                name="firstname"
                type="text"
                required
              />
            </div>
            <div class="flex w-full flex-col items-start justify-start gap-2">
              <label class="text-xs text-slate-200">Last name</label
              ><input
                placeholder="Enter a last name..."
                autoComplete="false"
                class="w-full border-[1px] border-white bg-black p-4 text-white placeholder:text-gray-500"
                name="lastname"
                type="text"
                required
              />
            </div>
            <div class="flex w-full flex-col items-start justify-start gap-2">
              <label class="text-xs text-slate-200">Email</label
              ><input
                placeholder="Enter an email..."
                autoComplete="false"
                class="w-full border-[1px] border-white bg-black p-4 text-white placeholder:text-gray-500"
                name="email"
                type="email"
                required
            </div>
            <div class="flex w-full flex-col items-start justify-start gap-2">
              <label class="text-xs text-slate-200">Branch</label
              ><input
                placeholder="Enter your branch..."
                autoComplete="false"
                class="w-full border-[1px] border-white bg-black p-4 text-white placeholder:text-gray-500"
                name="branch"
                type="text"
                required
              />
            </div>
            <div class="flex w-full flex-col items-start justify-start gap-2">
              <label class="text-xs text-slate-200">For Which Position You Want To Apply</label
              ><input
                placeholder="Enter a position..."
                autoComplete="false"
                type="text"
                class="w-full border-[1px] border-white bg-black p-4 text-white placeholder:text-gray-500"
                name="description"
                type="text"
                required
              />
            </div>
            <input
              type="submit"
              class="w-full bg-[#ae7aff] p-3 text-center font-bold text-black shadow-[5px_5px_0px_0px_#4f4e4e] transition-all duration-150 ease-in-out active:translate-x-[5px] active:translate-y-[5px] active:shadow-[0px_0px_0px_0px_#4f4e4e]"
            >
              Register
          </input>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
